* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#251313, #1b1b31), url("../images/back.jpg");
  background-size: contain;
}

h1 {
  color: white;
  padding: 2% 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 70vw;
  height: 85vh;
  margin: auto;
  transition: ease-in;
}

.butons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
}

.butons #prev-btn {
  width: 70px;
  height: 40px;
  transform: translateY(-850%);
}

.butons #next-btn {
  width: 70px;
  height: 40px;
  transform: translateY(-850%);
}

#display {
  height: 10vh;
  width: 50vw;
  color: #fff;
  font-size: 40px;
  font-style: italic;
  transform: translateY(-90%);
}
