* {
  /* padding: 0;
  margin: 0;
  box-sizing: border-box; */
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, blue, red);
}

h1 {
  color: white;
  padding: 2% 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 70%;
  height: 69vh;
  margin: auto;
  transition: ease-in;
}

.butons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3%;
}

.butons #prev-btn {
  width: 70px;
  height: 40px;
  transform: translateY(-850%);
}

.butons #next-btn {
  width: 70px;
  height: 40px;
  transform: translateY(-850%);
}

#display {
  height: 10vh;
  max-width: 50vw;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  transform: translateY(-90%);
  margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, blue, red);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: none;
  }

  img {
    min-width: 200px;
    min-height: 30vh;
    margin: auto;
    transition: ease-in;
  }

  h1 {
    color: white;
    padding: 5% 0 5% 5%;
    max-width: 600px;
    font-size: 15px;
  }

  .butons {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 0 5%;
  }

  .butons #prev-btn {
    width: 20%;
    height: 40px;
    transform: translateY(0);
  }

  .butons #next-btn {
    width: 20%;
    height: 40px;
    transform: translateY(0);
  }

  #display {
    /* height: 10vh; */
    width: 50vw;
    color: #fff;
    font-size: 15px;
    font-style: italic;
    transform: translateY(-90%);
    max-width: 150px;
  }
}
